.bible-container {
    margin-top: 51px;
}

.bible-big-img-banner {
   width: 100%;
   height: 500px;
}

.bible-fill-img {
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.navbar-brand .version {
  margin-left: 10px;
  color: #BDB3B3;
  font-weight: 500;
}

.Mend-5 {
    margin-right: 5px;
}

.JHei {
    font-family: Microsoft JhengHei;
}