.bible-container {
    margin-top: 51px;
}

.bible-big-img-banner {
    width: 100%;
    height: 355px;
}

.bible-fill-img {
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.navbar-brand .version {
   margin-left: 10px;
   color: #BDB3B3;
   font-weight: 500;
}

.Mend-5 {
    margin-right: 5px;
}

.JHei {
    font-family: Microsoft JhengHei;
}

.feature-banner {

}

.feature-banner .feature-button {
    width: 180px;
    height: 180px;
    border: 9px solid #4F4F4F;
    border-radius: 50%;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.feature-banner .article-icon {
    font-size: 80px;
    left: 29px;
    top: 40px;

    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.feature-banner .updates-icon {
    font-size: 80px;
    left: 38px;
    top: 44px;

    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.feature-banner .feature-button:hover {
    border-color: #3F86C4;
}

.feature-banner .feature-button:hover .article-icon, .feature-banner .feature-button:hover .updates-icon {
    transform: rotateY(360deg);
}

.button-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 15px;
}